.Book {
    color:darkred
}
.Movie {
    color:forestgreen
}
.Youtube{
    color:red
}
.Spotify{
    color:limegreen
}
.Steam{
    color:midnightblue;
}
.FireFox{
    color:orangered;
}
.Hobby{
    color:maroon;
}

.w-100{
    border-radius: 10px;
    border-color: black;
}


@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Quantico:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
